.main-news-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 40px;
    max-width: 1000px;
  }

  .normal-news-block {
    display: flex;
    flex-direction: row; /* Display children in a row */
  }

  .reverse-news-block {
    display: flex;
    flex-direction: row-reverse; /* Display children in a reverse row */
  }
  
  .title-news-block {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 100%;
  }

  .normal-title-block{
    display: flex;
    justify-content: flex-start;
  }

  .reverse-title-block{
    display: flex;
    justify-content: flex-end;
  }

  
  .content-news-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  
  .normal-picture-block {
    margin-right: 20px;
  }

  .reverse-picture-block {
    margin-left: 20px;
  }
  
  .picture-news-block img {
    max-width: 350px;
    padding: 5px 10px;
  }
  
  .text-news-block {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .normal-text-block p {
    width: 100%;
    text-align: left;
  }

  .reverse-text-block p {
    width: 100%;
    text-align: right;
  }
  