.main-news-block {
    display: flex;
    flex-direction: column; /* Display children in a column */
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .title-news-block {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; 
  }
  
  .content-news-block {
    display: flex;
    align-items: center;
  }
  
  .picture-news-block {
    margin-right: 20px;
  }
  
  .picture-news-block img {
    max-width: 100px; /* Adjust the maximum width of the picture as needed */
  }
  
  .text-news-block {
    font-size: 16px;
  }
  