.page-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 60px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}


.page-background {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-content {
    position: absolute;
    top: 90vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: black;
    overflow-x: hidden;
}

.page-written {
    display: flex;
    width: 100%;
    max-width: 1030px;
    background-color: white;
}


.page-right {
    width: 50%;
    margin-top: 30px;
    padding: 0 50px;
    color: black;
}

.page-right>h1 {
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 60px;
}

.page-right>p {
    font-size: 0.85rem;
    font-weight: 50;
    line-height: 20px;
}

.page-left {
    width: 50%;
    margin-top: 30px;
    padding: 0 50px;
    color: black;
}

.page-left>h1 {
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 60px;
}

.page-left>p {
    font-size: 0.85rem;
    font-weight: 50;
    line-height: 20px;
}

.page-content-no-bg {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-x: hidden;
    background: linear-gradient(
        to right,
        #f7f5f2 0%,
        #f7f5f2 calc(50% - 515px),
        white calc(50% - 515px),
        white calc(50% + 515px),
        #f7f5f2 calc(50% + 515px),
        #f7f5f2 100%
    );
}

.page-grid {
    margin: 40px 0;
    height: 90%;
    width: 100vw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1030px;
}

/* mobile view */

@media only screen and (max-width: 850px) {

    .page-written {
        flex-direction: column;
    }

    .page-right {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .page-left {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .page-content-no-bg {
        background: white;
    }
}
